* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;


}

.top {
    display: flex;
    list-style-type: none;
    gap: 31px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.top a {
    text-decoration: none;
    color: #000000;

}

.one {
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    text-decoration: none;

}

.one a {
    text-decoration: none;
    font-size: 600;
    color: #FFFF;


}

button {
    border-radius: 4px;
}

.hero {
    background-image: url(./picx/hero-bg.png);
    width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
}

.badge {
    align-items: center;
}

.hero-content {
    width: 1360px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
}

.head {
    font-size: 51px;
    color: #FFFF;
}

.early {
    margin-top: 250px;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 50px;
    border: none;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.hero h1 {
    font-size: 72px;
    color: #FFFF;
}

.hero span {
    color: #30B868;
}

.hero p {
    padding: 20px;
    font-size: 18px;
    color: #FFFF;
    align-items: center;
}

.hero-btns button {
    padding: 12px 20px;
    margin: 5px;
    border-radius: 4px;
    border-color: #FFFF;
    gap: 16px;
    font-size: 16px;
    font-weight: 600;
}

.primary {
    background-color: #30B868;
    color: #FFFF;
    border: none;
}

.outline {
    background-color: transparent;
    color: #FFFF;
}

.heading {
    padding-top: 30px;
    width: 1360px;
    margin: 0 auto;
    text-align: center
}

.heading h2 {
    font-size: 48px;
    font-weight: 700;
}

.heading p {
    font: size 16px;
    color: #627382;
}

.card-parent {
    justify-content: center;
    width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

.card {
    margin-top: 50px;
    padding-top: 80px;
    height: 200px;
    width: 300px;
    box-shadow: 0 1px 2px;
}

.card img {
    background-color: #F95555;
    padding: 10px;
    border-radius: 50px;

}

.know {
    margin-top: 120px;
    margin-left: 120px;
    width: 600px;
    height: 600px;
}

#solution {
    display: flex;
}

.text-of {
    margin: 120px 0px;
    padding: 102px 0px 102px 80px;

}

.text-of h4 {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.text-of h2 {
    margin-top: 16px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;

}

.text-of p {
    padding-top: 16px;
    text-align: left;
    font-size: 16px;
    color: #627382;
}

.icon {
    padding-top: 16px;
    padding-left: 20px;
    list-style-type: none;

}

.icon img {
    padding-top: 10px;
}
.clearly {
    height: 386px;
    width: 1360px;
    background-color: #F7F6F2;
    margin: 0 auto 100px;
    text-align: center;
}

.clearly h2 {
    padding-top: 80px;
    font-size: 40px;
    font-weight: 700;
}

.clearly p {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #627382;
}

.get-btn {
    padding: 16px;
    border: none;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
}

.get-btn a {
    color: #F7F6F2;
    text-decoration: none;
}

.clearly h3 {
    padding-top: 24px;
    padding-bottom: 16px;
    color: #627382;
}

.ready {
    border-bottom: 100px;
}

footer {
    width: 1600px;
    height: 348px;
    background-color: #001931;
}

footer .end {
    padding: 120px 120px 80px 120px;
    display: flex;
    justify-content: space-between;
}

.end img {
    width: 139px;
}

footer h2 {
    color: #FFFF;
    font-size: 20px;
    font-weight: 500;

}

.fot-logo i {
    background-color: #FFFF;
    border-radius: 20px;
    padding: 8px;
    justify-content: space-between;

}

footer .copy {
    text-align: center;
    font-size: 16px;
    color: #F7F6F2;
}