.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;


}

.top {
    display: flex;
    list-style-type: none;
    gap: 31px;
    text-decoration: none;
    font-size: 16px;
}

.top a {
    text-decoration: none;
}

.one {
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    text-decoration: none;
   
}

.one a {
    text-decoration: none;
    font-size: 600;
    color: #FFFF;


}
button{
    border-radius: 4px;
}
