*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;


}

.top {
    display: flex;
    list-style-type: none;
    gap: 31px;
    text-decoration: none;
    font-size: 16px;
}

.top a {
    text-decoration: none;
    color: #000000;
}

.one {
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    text-decoration: none;

}

.one a {
    text-decoration: none;
    font-size: 600;
    color: #FFFF;


}

button {
    border-radius: 4px;
}

.hero{background-image: url(./picx/hero-bg.png);
width: 1600px;
height: 674px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
}
.badge{
    align-items: center;
}

.hero-content{
width: 1360px;
height: 295px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16;
}
.head{
    font-size: 51px;
    color: #FFFF;
}
.early
{
    margin-top: 250px;
    padding:8px 12px;
    gap: 6px;
    border-radius: 50px;
    border: none;
    color: #30B868;
}
.hero h1{font-size: 72px;
color: #FFFF;}
.hero span{
    color: #30B868;
}
.hero p{
    font-size: 18px;
    color: #FFFF;
    align-items: center;
}
.hero-btns button{
    padding: 12px 20px;
    margin: 5px;
    border-radius: 4px;
    border-color: #FFFF;
    gap: 16px;
}
.primary{
    background-color: #30B868;
    color: #FFFF;
    border: none;
}
.outline{
  background-color: transparent;
  color: #FFFF;
}